@import "tailwindcss";
@plugin "@tailwindcss/typography";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}

* {
  -ms-overflow-style: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
@layer base {
  h1 {
    @apply text-3xl font-extrabold;
  }
  h2 {
    @apply text-2xl font-semibold;
  }
  h3 {
    @apply text-xl font-bold;
  }
  button {
    @apply cursor-pointer text-white;
  }
  input {
    @apply bg-white p-2 rounded-md w-full outline-0 focus:bg-blue-50;
  }
  a {
    @apply text-white;
  }
}

@layer components {
  .main-gradient {
    background: #5080e6;
    background: radial-gradient(
      circle,
      rgba(51, 113, 246, 0.415) 0%,
      rgba(60, 103, 203, 0.6) 100%
    );

    @apply text-white p-1 rounded-full;
  }
  .clickable {
    @apply cursor-pointer text-gray-300 hover:text-white;
  }
  .price {
    @apply text-blue-700 font-bold text-xl;
  }
  .old-price {
    @apply line-through text-gray-500;
  }

  .price::before,
  .old-price::before {
    content: "$";
    margin-left: 2px;
  }
  .flex-row-center {
    @apply flex items-center justify-center;
  }
  .flex-col-center {
    @apply flex flex-col items-center justify-center;
  }
}
